
body{
    background-color: pink;
    transition: all 3s;
    margin: 0;
}

header{
    width: 100vw;
    height: 8vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#btn{

    position: absolute;
    top: 36vh;
    width: 10vw;
    height: 8vh;
    border-radius: 8%;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 20px;
}

div{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

#colorValue{
    position: relative;
    top: 4vh;
    font-family: monospace;
    font-size: 50px;
}